<!--<div class="nav d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">-->
<!--    <h5 class="my-0 mr-md-auto font-weight-normal">SLYC</h5>-->
<!--    <nav class="my-2 my-md-0 mr-md-3">-->
<!--        <a class="p-2 text-dark" href=/>HOME</a>-->
<!--        <a class="p-2 text-dark" href="/mac">출발지 관리(MAC)</a>-->
<!--        <a class="p-2 text-dark" href="/ip">도착지 관리(IP)</a>-->
<!--        <a class="p-2 text-dark" href="/macip">출발지 및 도착지 관리(MAC-IP)</a>-->
<!--        <a class="p-2 text-dark" href="/slyc">SLYC team</a>-->
<!--    </nav>-->
<!--    <a class="btn btn-outline-primary" href="join">Sign up</a>-->
<!--</div>-->

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="/">HOME</a>
        <a class="p-2 text-muted" href="/mac">출발지 관리(MAC)</a>
        <a class="p-2 text-muted" href="/ip">도착지 관리(IP)</a>
        <a class="p-2 text-muted" href="/macip">출발지 및 도착지 관리(MAC-IP)</a>
        <a class="p-2 text-muted" href="/slyc">SLYC team</a>
    </nav>
</div>
