<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="/">HOME</a>
        <a class="p-2 text-muted" href="/mac">신뢰하는 MAC (출발지)</a>
        <a class="p-2 text-muted" href="/ip">신뢰하는 IP (도착지)</a>
        <a class="p-2 text-muted" href="/allowed-traffic">신뢰하는 통신 (MAC-IP)</a>
        <a class="p-2 text-muted" href="/proc">감시 프로세스</a>
        <a class="p-2 text-muted" href="/alert">알림 채널 관리</a>
        <a class="p-2 text-muted" href="/slyc">SLYC team</a>
    </nav>
</div>
