<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="/">HOME</a>
        <a class="p-2 text-muted" href="/mac">출발지 관리(MAC)</a>
        <a class="p-2 text-muted" href="/ip">도착지 관리(IP)</a>
        <a class="p-2 text-muted" href="/macip">경로 관리(MAC-IP)</a>
        <a class="p-2 text-muted" href="/proc">감시 프로세스</a>
        <a class="p-2 text-muted" href="/alert">알림 채널 관리</a>
        <a class="p-2 text-muted" href="/slyc">SLYC team</a>
    </nav>
</div>
