<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
</head>

<body>
<div class="container">
    <%- include('partials/header') -%>
    <%- include('partials/nav') -%>
    <div class="content">
        <div class="home">
            <h2 style="text-align: left">
                Smart HTS
            </h2>
            <div style="padding: 20px">
                <img src="/img/s-hts-architecture-overview.png" alt="s-hts architecture overview" width="100%">
            </div>
        </div>
    </div>
    <%- include('partials/footer') -%>
</div>
</body>
</html>
