<!DOCTYPE html>
<html>
<%- include('partials/head') -%>

<body>
<div class="container">
    <%- include('partials/header') -%>
    <%- include('partials/nav') -%>
    <div class="content">
        <div class="ip">
            <button class="btn btn-primary" onclick="postIP()" style="margin-bottom: 10px">+ Add new</button>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">IP</th>
                    <th scope="col">비고</th>
                    <th scope="col">삭제</th>
                </tr>
                </thead>
                <tbody>
                <% for(let i = 0;i < 10;i++) { %>
                    <tr>
                        <td>111.222.111.222</td>
                        <td>네이버</td>
                        <td>x</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('partials/footer') -%>
</div>

<script>
    function postIP() {
        alert("postIP called!")
    }
</script>
</body>
</html>
