<div class="row">
    <div class="col-sm-1">
        <h3>Members</h3>
        <ul>
            <li>Mega</li>
            <li>Martin</li>
            <li>Freddie</li>
            <li>Bob</li>
        </ul>
    </div>
</div>
