<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
</head>

<body>
<div class="container">
    <%- include('partials/header') -%>
    <%- include('partials/nav') -%>
    <div class="content">
        <div class="row">
            <div class="col-sm-1">
                <h3>Members</h3>
                <ul>
                    <li>Mega</li>
                    <li>Martin</li>
                    <li>Freddie</li>
                    <li>Bob</li>
                </ul>
            </div>
        </div>
    </div>
    <%- include('partials/footer') -%>
</div>

<script></script>
</body>
</html>
